body {
  margin: 1%;
  padding: 3%;
  font-size: 16px;
  text-decoration: none;
  list-style: none;
  background-color: #1C1C1C;
        color: #F5F5F5;
  background-image: url("https://images.pexels.com/photos/1731427/pexels-photo-1731427.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
}

.home-list-container {
  height: 100px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 3px;
  background-color:cadetblue;
  margin-bottom: 2%;
  border: 0.2px solid gray;
  padding: 27px;
  box-shadow: 5px 8px gray;
}

.container-home{
  display: flex;
  align-items:center;
  flex-direction: column;
}

li {
  list-style: none;
  font-size: large;
  text-align: center;
  color:white;
}

#register #login #home {
  color:white;
}


.Registration {
  display: flex;
  flex-direction: column;
  border: 0.2px solid gray;
  padding: 27px;
  box-shadow: 5px 8px gray;
}

.login-container {
  display: flex;
  flex-direction: column;
  padding-left: 250px;
  padding-right: 250px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-right: 10%;
  margin-left: 10%;
  margin-bottom: 5%;
  background-color: #5F9EA06b;
  border-radius: 3%;
  border: 0.2px solid gray;
  padding: 27px;
  box-shadow: 5px 8px gray;
}

#login-button {
  margin-left: 30%;
  margin-right: 30%;
  background-color: #f1f1f1b6;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

#login-button:hover {
  background-color: black;
  color: white;
}


.nav {
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  top: 0;
  background-color: #5F9EA06b;
  border: 0.2px solid;
  padding: 2%;
}


#homePage {
  text-transform: uppercase;
  color: #fafafa;
  background-color: rgb(24, 57, 83);
  border: none;
  border-radius: 3px;
  box-shadow: 1px 1px 10px rgba(50, 50, 50, 0.4);
  transition: 0.3s all ease;
  letter-spacing: 0.1rem;
  font-size: 0.85rem;
  position: relative;
  top: 0;
  right: 0;
  font-family: "Barrio", sans-serif;
  font-weight: bold;
  font-size: 1rem;

  transition: 0.3s all ease;
  box-shadow: 1px 1px 20px rgba(150, 150, 150, 0.2);
  right: -0.9rem;
  cursor: pointer;
}

#upload {
  margin: auto;
  padding: 1rem;
  text-transform: uppercase;
  color: #fafafa;
  background-color: rgb(24, 57, 83);
  border: none;
  border-radius: 3px;
  box-shadow: 1px 1px 10px rgba(50, 50, 50, 0.4);
  transition: 0.3s all ease;
  letter-spacing: 0.1rem;
  font-size: 0.85rem;
  position: relative;
  top: 0;
  right: 0;
  padding-left: 2.5rem;

  font-family: "Barrio", sans-serif;
  font-weight: bold;
  font-size: 1rem;
  color: darken(green, 20%);
  transition: 0.3s all ease;

  content: "_";
  top: 0.8rem;

  box-shadow: 1px 1px 20px rgba(150, 150, 150, 0.2);

  right: 90px;
  cursor: pointer;
}



#color {
  background-color: #5F9EA06b;
  align-items: center;
}

.account-container {
  padding-bottom: 10px;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top:0;
}

.info-account-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.Registration {
  display: flex;
  flex-direction: column;
  padding-left: 250px;
  padding-right: 250px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-right: 10%;
  margin-left: 10%;
  margin-bottom: 5%;
  background-color: #5F9EA06b;
  border-radius: 3%;
  flex-wrap: wrap;
}

#register-btn {
  margin-left: 30%;
  margin-right: 30%;
  background-color: #f1f1f1b6;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

#register-btn:hover {
  background-color: black;
  color: white;
}

.post-new-container{
  border: solid black 0.2px;
  display: flex;
  flex-direction: column;
  padding-left: 250px;
  padding-right: 250px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-right: 10%;
  margin-left: 10%;
  margin-bottom: 5%;
  background-color:#5F9EA06b ;  
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
}

.search-compo {
  display: flex;
  justify-content: center;
  align-content: center;
}

#search {
  border: none;
  margin:auto;

}

#login:hover, #register:hover{
  color: black;
}